@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Icones";
}

@layer utilities {
  .reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

::-webkit-scrollbar{
  @apply w-2
}

::-webkit-scrollbar-track{
  @apply bg-zinc-950
}

::-webkit-scrollbar-thumb{
  @apply bg-yellow-500
}

@layer components {
  .cabecalho {
    @apply bg-zinc-950 pt-2 text-black font-semibold text-center sticky top-0 z-20;

    & ul {
      @apply flex flex-row text-lg items-center pb-2;

      & li {
        @apply mx-auto;
      }
    }
  }

  .titulo{
    @apply flex flex-row justify-center font-bold text-5xl pb-6;
  }

  .botao {
    @apply p-2 border border-gray-600 rounded-3xl bg-gradient-to-r from-yellow-500 to-yellow-600 transition-all duration-700 delay-100;

    &:hover {
      @apply bg-gradient-to-l p-3;
    }
  }

  .redessociais {
    @apply justify-between;
  }

  .separator {
    @apply h-px border-t-0 bg-gradient-to-r from-transparent via-yellow-500 to-transparent opacity-25 dark:opacity-100;
  }

  .fade {
    @apply h-16 bg-gradient-to-b from-zinc-950  to-zinc-900 opacity-25 dark:opacity-100;
  }

  .pt1 {
    @apply bg-zinc-950 text-white text-center;
    /* 
      & div{
        @apply p-9;
      } */

    & p {
      @apply px-96 pt-8 text-xl;
    }
  }

  .pt2 {
    @apply bg-zinc-900 text-white;

    & ul {
      @apply flex flex-row justify-center pt-10 space-x-10;
    }
  }

  .rodape {
    @apply w-full bottom-0 bg-zinc-950 text-white py-2 px-4 text-center text-lg;
    & a {
      @apply block  hover:bg-amber-400 py-1 px-3 rounded-md transition duration-300 ease-out;
    }
  }
}
