@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer components {
  .cabecalho {
    @apply bg-zinc-950 p-2 text-black font-bold px-4 text-center text-4xl;

    & ul {
      @apply flex flex-row text-lg items-center;

      & li {
        @apply mx-auto;
      }
    }
  }

  .botao {
    @apply p-2 border-2 border-gray-600 rounded-3xl bg-yellow-500 hover:bg-yellow-600 hover:p-3 hover:text-white transition duration-700;
  }

  .rodape {
    @apply w-full bottom-0 bg-zinc-950 text-white py-2 px-4 text-center text-lg absolute;
    & a {
      @apply block  hover:bg-amber-400 py-1 px-3 rounded-md transition duration-300 ease-out;
    }
  }
}
